.button {
  background-color: $purple;  
  border: 1px solid $purple;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  transition: all .4s ease-in-out;

  &:hover {
    color: $dark-blue;
    border: 1px solid $purple;
    background-color: #fff;
  }

}

.button--link {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  transition: all .4s ease-in-out;

}

.button--login {
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  overflow: hidden;
  padding: 12px $xl-size;
  position: relative;
  width: 20rem;
  transition: all 0.4s ease-in;
  
  &:hover {
    color: $dark-blue;
    border: 1px solid #fff;
    background-color: #fff;
  }

}

.button--secondary {
  background-color: #888;
}